<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ViewLogic.slidingmenu"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_action"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="view.LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="model.dropbox.DBSuper"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="model.dropbox.NewData"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="view.MainActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="view.SearchTabActivity"
            android:label="@string/app_name"
            android:clickable="true">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value="view.SearchTabActivity" />
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDcK4ZflcWTIziLKwuKOrxq_4suYDkFHUk"/>

        </activity>
        <activity
            android:name="view.SuperTabActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="view.ComparisonTabActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="view.ChooseProductActivity"
            android:label="@string/app_name">
        </activity>
        <activity
            android:name="view.AboutFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName="view.MainActivity" >
        </activity>
        <activity
            android:name="view.ChangeAdressFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName="view.MainActivity" >
        </activity>
        <activity
            android:name="view.UpdateProfileFragmentActivity"
            android:label="@string/app_name"
            android:parentActivityName="view.MainActivity" >
        </activity>

    </application>

</manifest>
